<main class="container">

    <section class="sect-form">
        <h1 class="title1">Bienvenid@ al mejor buscador de series</h1>
        <form class="js-form sect-form__container">
            <input type="text" class="js-input sect-form__container--input " placeholder="Introduce tu serie"
                value="mad">
            <input type="submit" class="js-button sect-form__container--search" value="Buscar">
        </form>
    </section>

    <section class="sect-fav">
        <h2 class="sect-fav__title">Series favoritas</h2>
        <button class="sect-fav__button js-reset">Eliminar todos</button>
        <ul class="js-favList sect-fav__ul"></ul>
    </section>

    <section class="sect-showlist">
        <h2 class="sect-showlist__title">Resultado de la búsqueda:</h2>
        <ul class="js-showList sect-showlist__ul"></ul>
    </section>

</main>