.footer {
  height: 5vh;
  padding: 20px;
  border-top: solid 2px $color3;
  display: flex;
  justify-content: space-between;
  background-color: $color-Background;
  &__image {
    width: 100px;
    height: 100px;
  }
}
