.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-Background;
  &__logo {
    text-align: center;
    width: 200px;
    height: 200px;
  }
}
